<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @local.name %>
</p>

<p>
  <strong>Razonsocial:</strong>
  <%= @local.razonsocial %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @local.rut %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
